.nav-bottom-border {
    background: linear-gradient(to right, red, orange, yellow);
    height: 5px;
}

#home{
    background-color:color($colors, secondary);
}

.icon{
    text-align: center;
}

.icon img{
    width: 75px;
}

.sub_title {
    padding: 0px 10px 0px 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    color: white;
    background-color:color($colors, primary);
}

.custom-border {
    background: linear-gradient(to right, red, orange, yellow);
    height: 1px;
}

#resto_list img {
    width: 100%;
}
.item-md.item-block .item-inner {
    padding: 0px;
    border: none;
}

.list_pictures {
    padding-left: 0;
    margin-top: 0px;
    text-align: center;
    list-style-type: none;
    width: 100%;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    background-image: url("../../assets/imgs/la_pignata.jpg");
}

.pres_img {
    -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.main-content {
    max-width: 400px;
    margin: auto;
}

.list-item {
    width:100%;
}

@media only screen and (min-width: 768px) {
    .main-content {
        max-width:60%;
    }
}


