<ion-header>
  <ion-navbar >
    <ion-title>Infinity</ion-title>
    <div class="nav-bottom-border"></div>
  </ion-navbar>
</ion-header>
<ion-content id="home">
  <ion-grid>
    <ion-row>
      <ion-col width-50 offset-25>
        <div class="icon"><img src="../../assets/imgs/logo-mat.png"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
  

  <!-- <div class="main-content">
    <div class="sub_title">
      <p>Choisissez votre restaurant</p>
    </div>
    <ul></ul>
    <ion-list>
      <ion-item *ngFor="let resto of restos" class="list-item">

      </ion-item>
    </ion-list>
  </div> -->

  
  <div class="main-content">
      <div class="sub_title">
        <p>Choisissez votre restaurant</p>
      </div>
      <ul class="list_pictures">
        <li *ngFor="let resto of restos" class="list-item">
            <img class="pres_img" src="{{'../assets/imgs/'+ resto.image_name}}"/>
            
        </li>
      </ul>
  </div>
  
  
 <!-- <button ion-button secondary menuToggle>Toggle Menu</button> -->
</ion-content>
